html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

#logo_header {
    background-image: url("/resources/images/img-tea-cozy-logo.png");
}

nav {
    margin-right: 3%;
}

ul {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    margin: 0.2% 1%;
}