.card-img-top {
    max-height: 8rem;
    width: auto;
}

.card-columns {
    column-count: 1;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1000px) {
    .card-columns {
        column-count: 4;
    }
}

fieldset {
    display: none;
    padding-bottom: 3rem;
}

.logo {
    max-height: 7rem;
}

.top-title {
    color: #a93033;
}

.hmtl {
    font-family: 'Montserrat', sans-serif;
}

.fixed-bottom {
    background-color: #eeeeee;
}