.card-img-top {
    max-height: 8rem;
    width: auto;
}

.logo {
    max-height: 3rem;
}

small {
    font-size: 0.8rem;
}

.h2 {
    font-size: 1.3rem;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

    .logo {
        max-height: 6rem;
    }
    small {
        font-size: 1rem;
    }
    .h2 {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1000px) {

}

fieldset {
    display: none;
    padding-bottom: 4rem;
}
.form-page {
    display: none;
    padding-bottom: 4rem;
}

.top-title {
    color: #a93033;
}

.form-group {
    max-width: 800px;
    margin: auto;
}

small {
    max-width: 800px;
}

.btn-light {
    background-color: #a93033;
    color: white;
}

.progress-bar {
    background-color: #a93033;
    color: white;
}


.material-icons.md-18 { font-size: 2rem; }
.material-icons.md-24 { font-size: 2rem; }
.material-icons.md-36 { font-size: 2rem; }
.material-icons.md-48 { font-size: 2rem; }

.checkbox-c {
    color: black !important;
    background-color: #efefef !important;
    border-color: #efefef !important;
}

.active.checkbox-c {
    border-color: #a93033 !important;
    background-color: #a93033 !important;
    color: #efefef !important;

}

#productid-4-btn {
    font-size: 0.7rem !important;
}

.btn-success {
    border-color: #a93033 !important;
    background-color: #a93033 !important;
    color: #efefef !important;

}

.narrow {
    max-width: 400px;
}