body {
    background-image: url("./assets/topography.png");
    font-family: "Montserrat", courier;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

nav {
    background-color: #333333;

}

#logo {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

li {
    padding: 0.5rem 1rem;
    color: #ff0099;
}

a {
    text-decoration: underline;
    color: inherit;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
}

h1 {
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    color: #ff0099;
    font-weight: 400;
}

h2 a {
    text-decoration: none;
}

h3 {
    font-size: 2rem;
    font-weight: 400; 
    text-align: center;
    margin: auto;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    line-height: 150%;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 1rem; 
    border-top: 1px dashed;
}