html {
    font-family: "Work Sans", sans-serif;
    color: rgb(61, 59, 59);
}

main {
    max-width: 1025px;
    margin: auto;
    margin-top: 180px;
}

header {
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    position: fixed;
    background-color: white;
    width: 96%;
    top: 0px;
}

#logo {
    width: 6rem;
    height: 6rem;
    background-image: url("./jatszohazprojekt_logo_piros.png");
    background-size: cover;
    margin: auto;
}

.container {
    width: 30%;
}

#nav-bar {
    width: 60%;
}

ul {
    list-style: none;
    font-size: larger;
    text-transform: uppercase;
    padding: 0;
    text-align: end;
}
a{
    text-decoration: none;
    white-space: nowrap;
    padding: 0 2%;
    display: block;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #a93033;
}

h1, h2 {
    text-align: center;
}

p {
    padding: 1rem 10%;
    text-align: center;
    margin: auto;
}

p em {
    font-style: normal;
    font-weight: 600;
    color: #a93033;
}

h1 em {
    color: #a93033;
}

#video {
    padding-top: 1rem;
    margin: auto;
}

@media (min-width: 769px) {
    ul {
        display: flex;
        justify-content: space-around;

    }
    #logo {
        background-image: url("./logo-wide.png");
        width: 13rem;
        background-size: cover;
        margin: 0;
    }
    .container {
        width: 50%;
    }
    iframe {
        width: 420px;
        height: 315px; 
    }
    header {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}

@media (min-width: 769px) {
    .services-container {
        margin: auto;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    .service {
        width: 30%;
    }
}

.services-container {
    margin: auto;
    align-content: center;
}

.service {
    background-color: #a93033;
    color: white;
    width: 90%;
    margin: auto;
    margin: 1rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

.service-header {
    color: #a93033;
    border: 2px solid #a93033;
    background-color: white;
}

.service-feature {
    display: flex;
    margin: 10%;
    justify-items: center;
}

.material-icons {
    align-self: center;
}



.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#submit {
    padding: 1rem;
    color: white;
    background-color: #a93033;
    border-color: #a93033;
    border-radius: 5px;
    border-style: solid;
}


form {
    margin: auto;
    margin-bottom: 5rem;
    text-align: center;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.service:hover, #submit:hover {
    box-shadow: 0 4px 8px 0 #a93033, 0 6px 20px 0 white;
}

#howitworks {
    text-align: center;
}

